services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: mon-app-cdc:latest
        container_name: cdc_app
        restart: unless-stopped
        depends_on:
            - db
        environment:
            APP_ENV: production
            APP_DEBUG: "false"
            APP_KEY: ${APP_KEY}
            APP_URL: ${APP_URL}
            DB_CONNECTION: pgsql
            DB_HOST: db
            DB_PORT: 5432
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            SESSION_DRIVER: database
            QUEUE_CONNECTION: sync
        volumes:
            - public_data:/var/www/public

    web:
        image: nginx:alpine
        container_name: cdc_nginx
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            - public_data:/var/www/public
        depends_on:
            - app

    db:
        image: postgres:15-alpine
        container_name: cdc_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
    public_data:
