services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: mon-app-cdc:latest
        container_name: cdc_app
        restart: unless-stopped
        depends_on:
            - db
        ports:
            - "80:80"
        environment:
            APP_ENV: production
            APP_DEBUG: "false"
            APP_KEY: ${APP_KEY}
            APP_URL: ${APP_URL}
            DB_CONNECTION: pgsql
            DB_HOST: db
            DB_PORT: 5432
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            SESSION_DRIVER: database
            QUEUE_CONNECTION: database
            OCTANE_SERVER: frankenphp
        volumes:
            - storage_data:/app/storage

    db:
        image: postgres:15-alpine
        container_name: cdc_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
    storage_data:
